body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgba(255, 191, 0, 0.1);
  zoom: 90%;
}

header {
  position: relative;
  background-image: url("headerPic.jpeg");
  background-size: cover;
  background-position: center;
  color: #ffffffa5;
  padding: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

header::before {
  content: "";
  position: absolute;
  top: 100;
  left: 100;
  width: 700px;
  height: 220px;
  background-color: rgba(194, 167, 136, 0.8);
  border-radius: 20px;
  z-index: 1;
}


header h1 {
  position: relative;
  z-index: 1;
  font-size: 3em;
  text-align: center;
  
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  position: relative;
  z-index: 2;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav li:hover {
  transform: scale(1.1);
}

.icon {
  display: inline-block;
}
.icon:hover {
  transform: scale(1.1);
}

main {
  padding: 20px;
}
h2 {
  padding-bottom: 1em; /* Adjust as needed */
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #a67c52;
  border: none;
  color: rgb(230, 223, 223);
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s; /* Add a transition for smooth scaling */
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(55, 30, 0, 0.5); /* Add a shadow */
}

button:hover {
  transform: scale(1.1); /* Make the button grow when hovered over */
}

section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section ul {
  display: flex;
  justify-content: space-between;
}

section ul li {
  padding: 0 50px; /* Add padding to the left and right of each relevent courses */
}

section ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.flex-item {
  flex: 1 0 auto;
  border: 1px solid #333;
  margin: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px; /* Set a width */
  height: auto; /* Set a height */
  border-radius: 20px; /* Make the boxes rounded */
  background-color: rgba(1, 68, 33, 0.2); /* Change the background color */
  box-shadow: 5px 5px 10px rgba(0, 51, 26, 0.5); /* Add a shadow */
  
}

@media (max-width: 600px) {
  .flex-item {
    flex: 0 0 100%;
  }
}
.project-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

footer {
  background-color: rgb(194, 167, 136);
  color: #fff;
  padding: 10px;
  text-align: center;
}

#about-me {
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  margin-left: -20; /* Make the container flush with the left-most side of the window */
  padding-left: 0; /* Remove any padding on the left */
  width: 100%;
}
#about-me ul {
  width: 100%;
}

.demo {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: auto;
  padding-bottom: 56.25%; /* For a 16:9 aspect ratio */
  overflow: hidden;
}

.demo video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  /* max-height: 400px; */
  object-fit: contain; /* Make the video maintain its aspect ratio while fitting within its container */
}
.flex-item video {
  width: 100%; /* Make the video take up the full width of its container */
  height: auto; 
  object-fit: contain; /* Make the video maintain its aspect ratio while fitting within its container */
}
.flex-item p {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.work-experience {
  display: flex;
  flex-direction: row;
  align-items: row;
  text-align: row;
  width: 85%;
}


.job {
  width: 60%; /* Adjust as needed */
  padding-left: 100px; /* Add some left padding */
}
.job h3 {
  font-size: 1.3em; /* Adjust as needed */
  margin-bottom: 0.5em; /* Adjust as needed */
  text-align: left; /* Align the text to the left */
  
}

.job h4 {
  font-style: italic;
  font-size: 1.5 em;
  margin-top: 0.5em; /* Adjust as needed */
  margin-bottom: 0.5em; /* Adjust as needed */
  text-align: left; /* Align the text to the left */
}

.job h5 {
  margin-top: 0.5em; /* Adjust as needed */
  font-size: 1 em;
  text-align: left; /* Align the text to the left */
}

.job ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc; /* Use disc-style bullets */
}
.job li {
  display: list-item; /* Ensure list items appear on their own line */
  text-align: left; /* Align the text to the left */
  padding-left: 1em; /* Adjust as needed */
  font-size: 1em; /* Adjust as needed */
}
.job ul li {
  margin-bottom: 1em; /* Adjust as needed */
}
html {
  scroll-behavior: smooth;
}