body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgba(255, 191, 0, 0.1);
  zoom: 90%;
}

header {
  position: relative;
  background: url("headerPic.jpeg") center/cover;
  color: #fff;
  padding: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


header h1 {
  position: relative;
  z-index: 1;
  font-size: 3em;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  position: relative;
  z-index: 2;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav li:hover, .icon:hover, button:hover {
  transform: scale(1.1);
}

.icon {
  display: inline-block;
}

main {
  padding: 20px;
}

h2 {
  padding-bottom: 1em;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #a67c52;
  border: none;
  color: rgb(230, 223, 223);
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(55, 30, 0, 0.5);
}

section {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

section ul li {
  padding: 0 50px;
}

section ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.flex-item {
  flex: 1 0 auto;
  border: 1px solid #333;
  margin: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  max-height: 500px;
  border-radius: 20px;
  background-color: rgba(1, 68, 33, 0.2);
  box-shadow: 5px 5px 10px rgba(0, 51, 26, 0.5);
}

@media (max-width: 600px) {
  .flex-item {
    flex: 0 0 100%;
  }
}

.project-item img, .flex-item video {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

footer {
  background-color: rgb(194, 167, 136);
  color: #fff;
  padding: 10px;
  text-align: center;
}

#about-me {
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  width: 100%;
  margin-left: -20px;
  padding-left: 0;
}

.demo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.demo video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.flex-item p {
  max-width: 100%;
  word-wrap: break-word;
}

.work-experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  gap: 20px;
}

.job {
  width: 100%;
}

.job h3, .job h4, .job h5 {
  text-align: left;
}

.job h3 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.job h4 {
  font-style: italic;
  font-size: 1.5em;
  margin: 0.5em 0;
}

.job h5 {
  font-size: 1em;
  margin-top: 0.5em;
}

.job ul {
  display: block; 
  list-style-type: disc; 
  padding-left: 20px; 
  text-align: left; 
}
.job li {
  display: list-item; 
  text-align: left; 
  padding-left: 0; 
  font-size: 1em;
}

.job ul li {
  margin-bottom: 1em;
}

html {
  scroll-behavior: smooth;
}

#relevant-coursework ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0;
  list-style: none;
}

#relevant-coursework li {
  flex: 1 1 300px;
  max-width: 300px;
}

#relevant-coursework button {
  width: 100%;
  padding: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  #relevant-coursework ul {
    flex-direction: column;
    align-items: center;
  }
  
  #relevant-coursework li {
    max-width: 100%;
  }
}
